Repository cvat-ai/cvat, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nmanovic, @SpecLad, @zhiltsov-max, @bsekachev, @azhavoro

Refactor `_AnnotationMapper`
  changelog.d/20250130_123343_roman_refactor_annotation_mapper.md
  cvat-sdk/cvat_sdk/auto_annotation/__init__.py
  cvat-sdk/cvat_sdk/auto_annotation/driver.py
  cvat-sdk/cvat_sdk/auto_annotation/exceptions.py
  cvat-sdk/cvat_sdk/auto_annotation/interface.py
  site/content/en/docs/api_sdk/sdk/auto-annotation.md
  tests/python/sdk/test_auto_annotation.py
Owners: @nmanovic, @SpecLad, @bsekachev, @zhiltsov-max

Fixed found during review issues in the patch
  changelog.d/20250130_124037_sekachev.bs_HEAD.md
  changelog.d/fragment.j2
  serverless/pytorch/mmpose/hrnet32/nuclio/function-gpu.yaml
Owners: @nmanovic, @bsekachev

Disable test for static chunks, add issue link
  tests/python/rest_api/test_tasks.py
Owners: @zhiltsov-max

update running automatic annotation
  site/content/en/docs/manual/advanced/automatic-annotation.md
  site/content/en/images/image120.jpg
  site/content/en/images/running_automatic_annotation.png
Owners: @bsekachev

fix linter
  site/content/en/docs/manual/advanced/automatic-annotation.md
  site/content/en/docs/manual/advanced/serverless-tutorial.md
Owners: @bsekachev

Refactor `_AnnotationMapper` (#9020)
  changelog.d/20250130_123343_roman_refactor_annotation_mapper.md
  cvat-sdk/cvat_sdk/auto_annotation/__init__.py
  cvat-sdk/cvat_sdk/auto_annotation/driver.py
  cvat-sdk/cvat_sdk/auto_annotation/exceptions.py
  cvat-sdk/cvat_sdk/auto_annotation/interface.py
  site/content/en/docs/api_sdk/sdk/auto-annotation.md
  tests/python/sdk/test_auto_annotation.py
Owners: @nmanovic, @SpecLad, @bsekachev, @zhiltsov-max

Extend test asset dump command
  tests/python/README.md
Owners: @zhiltsov-max

.github/CODEOWNERS:

# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence, they will
# be requested for review when someone opens a pull request.
*               @nmanovic

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies components below, only the list of owners and not
# the global owner(s) will be requested for a review.

# Component: Server
/cvat/                      @SpecLad
/cvat/apps/dataset_manager/ @zhiltsov-max
/cvat/apps/consensus/       @zhiltsov-max
/cvat/apps/quality_control/ @zhiltsov-max

# Component: CVAT SDK/CLI
/cvat-sdk/       @SpecLad
/cvat/schema.yml @SpecLad
/cvat-cli/       @SpecLad

# Component: Documentation
/site/          @bsekachev
/CHANGELOG.md   @bsekachev
/README.md      @bsekachev

# Component: CVAT UI
/cvat-ui/       @bsekachev
/cvat-data/     @bsekachev
/cvat-canvas/   @bsekachev
/cvat-canvas3d/ @bsekachev
/cvat-core/     @bsekachev

# Advanced components (e.g. analytics)
/components/    @azhavoro

# Component: Tests
/tests/         @bsekachev
/tests/python/  @zhiltsov-max

# Component: Serverless functions
/serverless/    @bsekachev

# Infrastructure
Dockerfile*     @azhavoro
docker-compose* @azhavoro
.*              @azhavoro
*.js             @bsekachev
*.conf          @azhavoro
*.sh            @azhavoro
/supervisord/   @azhavoro
/helm-chart/    @azhavoro
/utils/         @SpecLad
/.github/       @SpecLad
/dev/           @SpecLad
.regal/         @SpecLad
/LICENSE        @nmanovic
