Repository cvat-ai/cvat, pull requests merged in 2023-08, with the labels that each got.

#6307 subscription management update
  site/content/en/docs/enterprise/subscription-managment.md
  site/content/en/images/bank_transfer_payment.jpg
Labels: documentation

#6585 Improved frame decoder module
  .vscode/launch.json
  CHANGELOG.md
  cvat-canvas/package.json
  cvat-canvas/src/typescript/canvasModel.ts
  cvat-core/package.json
  cvat-core/src/api.ts
  cvat-core/src/frames.ts
  cvat-core/src/organization.ts
  cvat-core/src/quality-settings.ts
  cvat-core/src/server-proxy.ts
  cvat-core/src/server-response-types.ts
  cvat-core/src/session-implementation.ts
  cvat-core/src/session.ts
  cvat-core/tests/api/frames.js
  cvat-core/tests/mocks/server-proxy.mock.js
  cvat-data/package.json
  cvat-data/src/ts/cvat-data.ts
  cvat-ui/package.json
  cvat-ui/plugins/sam/src/ts/index.tsx
  cvat-ui/src/components/annotation-page/standard-workspace/controls-side-bar/opencv-control.tsx
  cvat-ui/src/components/header/settings-modal/player-settings.tsx
  cvat-ui/src/components/header/settings-modal/styles.scss
  cvat-ui/src/components/header/settings-modal/workspace-settings.tsx
  cvat-ui/src/reducers/index.ts
  cvat-ui/src/reducers/plugins-reducer.ts
  cvat-ui/webpack.config.js
  yarn.lock
Labels: enhancement

#6642 Added Honey pot UI tests
  .github/workflows/full.yml
  .github/workflows/main.yml
  .github/workflows/schedule.yml
  cvat-ui/src/components/analytics-page/analytics-page.tsx
  cvat-ui/src/components/analytics-page/quality/empty-job.tsx
  cvat-ui/src/components/analytics-page/styles.scss
  cvat-ui/src/components/create-job-page/job-form.tsx
  tests/cypress.config.js
  tests/cypress/e2e/analytics/ground_truth_jobs.js
  tests/cypress/support/commands.js
Labels: tests, ui/ux

#6668 Added UI tests for Project/Task/Job analytics (performance tab)
  .github/workflows/full.yml
  .github/workflows/main.yml
  .github/workflows/schedule.yml
  cvat-ui/src/components/analytics-page/analytics-page.tsx
  cvat-ui/src/components/analytics-page/quality/empty-job.tsx
  cvat-ui/src/components/analytics-page/styles.scss
  cvat-ui/src/components/create-job-page/job-form.tsx
  tests/cypress.config.js
  tests/cypress/e2e/analytics/ground_truth_jobs.js
  tests/cypress/support/commands.js
Labels: tests, ui/ux

#6669 Added UI tests for Project/Task/Job analytics (performance tab)
  cvat-ui/src/components/analytics-page/analytics-performance.tsx
  cvat-ui/src/components/analytics-page/views/analytics-card.tsx
  cvat-ui/src/components/analytics-page/views/histogram-view.tsx
  tests/cypress/e2e/analytics/analytics_pipeline.js
Labels: tests, ui/ux

#6753 Fixed fail for masks & skeletons with centered text
  CHANGELOG.md
  cvat-canvas/package.json
  cvat-canvas/src/typescript/canvasView.ts
Labels: bug
