Repository cvat-ai/cvat, pull requests merged in 2024-12, with the labels that each got.

#8731 Fix frame names in the allocation table for simple GT job
  changelog.d/20241121_181517_mzhiltso_fix_allocation_table.md
  cvat-ui/src/components/quality-control/task-quality/allocation-table.tsx
Labels: ui/ux

#8740 Update assets for chunk test
  cvat-core/src/api.ts
  cvat-core/src/config.ts
  cvat-core/src/frames.ts
  cvat-core/src/index.ts
  tests/cypress/support/commands.js
Labels: tests

#8763 Update test assets for quality tests
  tests/cypress/support/default-specs.js
Labels: tests

#8841 Fixed unstable requests regression test
  tests/cypress/e2e/features/requests_page.js
Labels: tests

#8877 Fix link to the authentication with Amazon Cognito
  site/content/en/docs/enterprise/social-accounts-configuration.md
Labels: documentation

#8872 Fix an issue with deleting frames
  cvat-core/src/frames.ts
  cvat-core/src/session-implementation.ts
Labels: ui/ux
